RewriteEngine On
RewriteBase /

# Se la richiesta è per la cartella backend, non fare nulla e lascia che PHP la gestisca
RewriteCond %{REQUEST_URI} ^/backend/ [NC]
RewriteRule .* - [L]

# Per tutto il resto, se il file o la cartella non esistono, rimanda a index.html (SPA)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
