<IfModule mod_headers.c>
    # Cache Control Headers
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "0"
</IfModule>

# Prevent directory listing
Options -Indexes
